.feed-container2 {
    display: flex;
    flex-grow: 1;
    width: 70%;
    flex-direction: column;
    margin-left: 70px;
    overflow-y: auto;
    height: 100%;
    padding: 0px;
    background-color: #F0F5FA;
}

.profile-container {
    display: flex;
    flex-direction: column;
    width: 82%;
}

.title {
    color: #000046;
    font-size: 40px;
    margin-left: 25px;
}

.profile-title {
    margin-left: 10px;
}

.profile-card {
    background-color: white;
    width: 100%;
    border-radius: 5px;
    border-color: aqua;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    height: 100%;
}

.profile-header {
    display: flex;
    flex-direction: row; 
    padding-left: 20px;
    align-items: center;
}

.profile-name {
    color: #000046;
    font-size: 40px;
    margin-left: 20px;
}

.profile-info1 {
    display: flex;
    flex-direction: row;
}

.profile-info2 {
    display: flex;
    flex-direction: row;
}

.post-divider1 {
    margin-top: -20PX;
    border: none;
    border-top: 1.5px solid #ddd;
    padding: 5px;
    margin-bottom: -30px;
}

.account-info,
.address-info {
    flex: 1; /* Each section will take equal space */
    padding: 10px; /* Optional padding */
}

.contact-info,
.company-info {
    margin-top: 20px;
    flex: 1; /* Each section will take equal space */
    padding: 10px; /* Optional padding */
}

h4 {
    margin-bottom: 10px; /* Space between title and content */
    color: #000046;
    font-size: 30px; /* Title color */
}

p {
    margin: 5px 0; /* Space between paragraphs */
    color: #333; /* Text color */
}

input {
    margin-bottom: 20px;
    background-color: #F0F5FA;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 2.5rem;
    padding-left: 7px;
    width: 95%;
    font-size: 16px;
}

.required {
    color:rgb(129, 129, 129);
}

.profile-button {
    color: white;
    background-color: #000046;
    font-size: 16px;
    height: 3rem;
    width: 15%;
    margin-left: 800px;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 5px;

}

.profile-logo-header1 {
    position: relative;
    width: 20%;
    height: 60px;
    z-index: 1000;
    border-radius: 100px;
    background-color: #64dc78;
    height: 4rem;
    text-align: center;
    width: 4rem;
    font-weight: bold;
    margin-left: 3px;
}

.inital-logo-header1 {
    margin-top: 18px;
}