

.header {
    display: flex;
    background-color: #000046;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 70px;
    z-index: 1000;
    align-items: center;
} 

.header-logo {
    position: relative;
    top: 10px;
    width: 20%;
    height: 60px;
    left: 4%;
    z-index: 1000;
}

.profile-logo-header {
    position: relative;
    width: 20%;
    height: 60px;
    left: 72%;
    z-index: 1000;
    border-radius: 100px;
    background-color: #64dc78;
    height: 3rem;
    text-align: center;
    width: 3rem;
    font-weight: bold;
    margin-left: 3px;
    margin-right: 10px;
    
}

.inital-logo-header {
    margin-top: 11px;
}